<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Alvasoft.ODTIntegration.OracleCommands" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Alvasoft.ODTIntegration.OracleCommands>
            <setting name="GetCastPlanProcedure" serializeAs="String">
                <value>DATA_EXCHANGE.GET_MPU</value>
            </setting>
            <setting name="aCursor" serializeAs="String">
                <value>o_cursor</value>
            </setting>
            <setting name="aFurnaceNumber" serializeAs="String">
                <value>i_furnace_number</value>
            </setting>
            <setting name="InsertFinishedProductCommand" serializeAs="String">
                <value>insert into FINISHED_PRODUCT(melt_id, furnace_number, melt_number, stack_number, weight, receipt_time) values(:melt_id, :furnace_number, :melt_number, :stack_number, :weight, :receipt_time)</value>
            </setting>
            <setting name="pMeltId" serializeAs="String">
                <value>melt_id</value>
            </setting>
            <setting name="pFurnaceNumber" serializeAs="String">
                <value>furnace_number</value>
            </setting>
            <setting name="pMeltNumber" serializeAs="String">
                <value>melt_number</value>
            </setting>
            <setting name="pStackNumber" serializeAs="String">
                <value>stack_number</value>
            </setting>
            <setting name="pWeight" serializeAs="String">
                <value>weight</value>
            </setting>
            <setting name="pReceiptTime" serializeAs="String">
                <value>receipt_time</value>
            </setting>
            <setting name="GetIdentifiersCommand" serializeAs="String">
                <value>select t.ID, o.ID, d.ID from TYPE_INFO t, OBJECT_INFO o, DATA_INFO d where (d.TYPE_INFO_ID = t.ID) and (o.TYPE_INFO_ID = t.ID) and (t.NAME = :type_name) and (o.NAME = :object_name) and (d.NAME = :data_name)</value>
            </setting>
            <setting name="pTypeName" serializeAs="String">
                <value>type_name</value>
            </setting>
            <setting name="pObjectName" serializeAs="String">
                <value>object_name</value>
            </setting>
            <setting name="pDataName" serializeAs="String">
                <value>data_name</value>
            </setting>
            <setting name="InsertCurrentValueCommand" serializeAs="String">
                <value>insert into DATA_VALUE(data_info_id, object_info_id, value_time, value) values(:data_info_id, :object_info_id, :value_time, :value)</value>
            </setting>
            <setting name="pDataInfoId" serializeAs="String">
                <value>data_info_id</value>
            </setting>
            <setting name="pObjectInfoId" serializeAs="String">
                <value>object_info_id</value>
            </setting>
            <setting name="pValueTime" serializeAs="String">
                <value>value_time</value>
            </setting>
            <setting name="pValue" serializeAs="String">
                <value>value</value>
            </setting>
        </Alvasoft.ODTIntegration.OracleCommands>
    </userSettings>
</configuration>