<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Alvasoft.ODTIntegration.OracleCommands" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Alvasoft.ODTIntegration.OracleCommands>
            <setting name="GettingCastPlan" serializeAs="String">
                <value>DATA_EXCHANGE.GET_MPU</value>
            </setting>
            <setting name="GettingCastPlan_p1" serializeAs="String">
                <value>o_cursor</value>
            </setting>
            <setting name="GettingCastPlan_p2" serializeAs="String">
                <value>i_furnace_number</value>
            </setting>
            <setting name="InsertFinishedProduct" serializeAs="String">
                <value>insert into FINISHED_PRODUCT(melt_id, furnace_number, melt_number, stack_number, weight, receipt_time) values(:melt_id, :furnace_number, :melt_number, :stack_number, :weight, :receipt_time)</value>
            </setting>
            <setting name="pMeltId" serializeAs="String">
                <value>melt_id</value>
            </setting>
            <setting name="pFurnaceNumber" serializeAs="String">
                <value>furnace_number</value>
            </setting>
            <setting name="pMeltNumber" serializeAs="String">
                <value>melt_number</value>
            </setting>
            <setting name="pStackNumber" serializeAs="String">
                <value>stack_number</value>
            </setting>
            <setting name="pWeight" serializeAs="String">
                <value>weight</value>
            </setting>
            <setting name="pReceiptTime" serializeAs="String">
                <value>receipt_time</value>
            </setting>
        </Alvasoft.ODTIntegration.OracleCommands>
    </userSettings>
</configuration>